<template>
    <div>
      <h2>{{ caption }}</h2>
      <img :src="require(`@/assets/${image}`)"/>

    </div>
  </template>
  
  <script>
  export default {
    name: 'CardSimple',
    props: {
      caption: String,
      image: String,
    }
  }
  </script>
  
  <style scoped>
  div {
    
    float: left;
    line-height: 120px;
    border: 1px solid grey;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
  }
  img  {
    width: 100px;
    height: auto;

  }

  
  </style>
  