<template>
  <div id="app">
    <CardSimple caption="Caption 1" image="1.png"/>
    <CardSimple caption="Caption 2" image="2.png"/>
    <CardSimple caption="Caption 3" image="3.png"/>
  </div>
</template>

<script>
import CardSimple from './components/CardSimple.vue'

export default {
  name: 'App',
  components: {
    CardSimple
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
